
.videoes hr.line-2 {

    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%;
    text-align: center;
    margin: auto;

}

.videoes hr.line {
    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%
}
.videoes{box-sizing: border-box;}
.videoes .card-body-height{
    min-height: 150px;
    padding: 30px 20px;
    border: none;
   box-shadow: 5px 5px 40px gray;
   border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.videoes .card{border: none;}
.videoes.card-img-top{border-radius: 10px;}
.videoes .custom-card-title{
    font-weight: bolder;}
/* }
.videoes.card-img-top {width: 100%; box-sizing: border-box;}
 img{transition: transform .2s;}
img:hover{
    transform: scale(1.1);
} */
.videoes .card-img-top{height: 250px;width: 100%; overflow: hidden;}
.videoes .card-img-top img{width: 100%;height: 100%;}
.videoes .card-img-top img{transition: transform .2s; transition: .3s ease-in-out;}
.videoes .card-img-top img:hover{transform: scale(1.2); box-sizing: border-box; position: relative;}